<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="king.queen.login"/>
      <class name="king.queen.aravindjenkinsgit"/>
      <class name="king.queen.Validate_practise_option"/>
      <class name="king.queen.Datadriven"/>
      <class name="king.queen.Entering_practise_credentials"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
